Package: lernstick-exam-client
Version: 1.0-1
Architecture: all
Maintainer: Roman Gruber <roman.gruber@bwzofingen.ch>
Installed-Size: 55
Depends: wget, python (>= 2.7), zenity, coreutils, iptables
Section: net
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Client for the Lernstick exam server
