[Desktop Entry]
Categories=X-lernstick;
Exec=/usr/bin/finishExam 
Icon=finishExam
GenericName=Hand in exam
GenericName[de]=Prüfung abgeben
Name=Hand in exam
Name[de]=Prüfung abgeben
StartupNotify=true
Type=Application
