[Desktop Entry]
Categories=X-lernstick;
Exec=/usr/bin/pkexec-searchExamServer
Icon=/usr/share/icons/oxygen/base/128x128/actions/system-search.png
GenericName=Search for exam server
GenericName[de]=Suche nach Prüfungsserver
Name=Search Exam Server
Name[de]=Suche Prüfungsserver
Terminal=false
StartupNotify=true
Type=Application
