debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/lernstick-exam-client/
debian/lernstick-exam-client.debhelper.log
debian/lernstick-exam-client.postinst.debhelper
debian/lernstick-exam-client.prerm.debhelper
debian/lernstick-exam-client.substvars
