[Desktop Entry]
Categories=System;
Exec=/usr/bin/pkexec-searchExamServer
Icon=searchExamServer
GenericName=Search for exam server
GenericName[de]=Suche nach Prüfungsserver
Name=Search Exam Server
Name[de]=Suche Prüfungsserver
Terminal=false
StartupNotify=true
Type=Application
