[Unit]
Description=lernstick-exam-agent

[Service]
Type=simple
ExecStart=/usr/bin/lernstick-exam-agent
ExecStop=/bin/bash -c 'kill \$1; tail --pid=\$1 -f /dev/null' sh \$MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target

