[Unit]
Description=screen_capture

[Service]
Type=simple
ExecStart=/usr/bin/screen_capture
ExecStop=/bin/bash -c 'kill $1; tail --pid=$1 -f /dev/null' sh $MAINPID
ExecStopPost=/bin/bash -c 'sleep 5; /usr/bin/launch screen_capture'
Restart=on-failure
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=screen_capture

[Install]
WantedBy=graphical.target
